@font-face {
    font-family: 'Niconne';
    src: url('../fonts/Niconne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.heart-beat {
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  -webkit-animation: heartbeat .5s infinite linear;
  -moz-animation: heartbeat .5s infinite linear;
  animation: heartbeat .5s infinite linear;
}
.heart-beat i{
	 color: red;
	 font-size:30px;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

button:focus {
    outline:none !important;
}

.formButton{
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
	background-color: transparent;
}
.formButton:hover{
	color:#000000;
	background-color:#FFFFFF;
}
@media all and (max-width:30em){
	.formButton{
	display:block;
	margin:0.4em auto;
	}
}

.bouncy{
	animation:bouncy 5s infinite linear;
	position:relative;
}

@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}

.alert {
    border: none;
    border-radius: 0px;
}

.alert-success {
    color: #3c763d;
    background-color: rgba(223, 240, 216, 0.7);
    border-color: none;
}

.alert-danger {
    color: #a94442;
    background-color: rgba(242, 222, 222, 0.7);
    border-color: none;
}

.timeline-image h4 a {
	color:#fff;
	text-decoration:none;
}

.emailAndPhone{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.righttext{
    text-align: left !important;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color:transparent;
    background-image: none;
    border: 2px solid #fff;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.navbar-default {
    background:none;
    border-bottom: solid 2px #fff;
}
.navbar-default.navbar-shrink {
    border-bottom: solid 2px #fff;
    padding: 10px 0 ;
    background:#000;
}
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em 
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 1%;
    color: #fff;
    background-color: rgba(254,209,54,1);
}
.navbar-default .navbar-nav>.active>a:hover ,.navbar-default .navbar-nav>.active>a:focus {
    border-radius: 1%;
    color: #fff;
    background-color: rgba(254,209,54,1);
}
.btn-info {
    margin-bottom: 20px;
}
.modal {
    position: fixed;
    top:70px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-content {
    position: relative;
    background-color:rgba(255,255,255,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius:none;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.contact-heading {
    background: transparent;
    color: #fff;
    border: #fff solid 2px;
    text-transform: none;
    padding:10px 10px 10px 10px ;
    margin-top: 14.5px;
}
.imgpro {
    width: 150px;
    height: 150px;
    border:2px solid #fff;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#fff;
    background:none;
}
.brr {
    width: 100%;
    background:#0ae ;
    height: 5px;
}

.social-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
}
.social-buttons li a {
    display: block;
    background:none;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    font-size: 26px;
    line-height: 40px;
    padding-top: 6px;
    border: solid 2px #fff;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s 
}
.github:hover {
    background-color:#8241f9;
}
.linkedin:hover {
    background-color:#0073b1;
}
.facebook:hover {
    background-color:#0D47A1;
}
.instagram:hover {
    background-color:#8D6E63;
}
/* begin circle */
.circle {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.circle .icon {
    position: absolute;
    display: block;
    color: #fff;
    font-size: 20px;
}
.circle .i1 {
    top: -25px;
    left: 65px;
}
.circle .i2 {
    top: 65px;
    left: -20px;
}
.circle .i3 {
    bottom: -25px;
    left: 65px;
}
.circle .i4 {
    top: 65px;
    right: -30px;
}
.circle .line1, .circle .line2 {
    position: absolute;
    top: 75px;
    left: 70px;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
}
.circle .line2 {
    transform: rotate(-45deg);
}
.circle .text {
    position: absolute;
    top: 38px;
    left: 30px;
    width: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 18px sans-serif;
    transition: opacity .2s ease;
}

.circle:hover {
    animation: border .4s ease 1 forwards;
    cursor: none;
    background: #E94E3D;
}

.circle:hover .text {
    opacity: 0;
}

.circle:hover .line1, .circle:hover .line2 {
    animation: line .5s ease .45s forwards;
}

.circle:hover .i1 {
    animation: icon1 .5s ease .8s forwards;
}
.circle:hover .i2 {
    animation: icon2 .5s ease .9s forwards;
}
.circle:hover .i3 {
    animation: icon3 .5s ease 1.0s forwards;
}
.circle:hover .i4 {
    animation: icon4 .5s ease 1.1s forwards;
}

.circleHover {
    animation: border .4s ease 1 forwards;
    cursor: none;
    background: #E94E3D;
}

.textHover {
    opacity: 0;
}

.i1Hover {
    animation: icon1 .5s ease .8s forwards;
}
.i2Hover {
    animation: icon2 .5s ease .9s forwards;
}
.i3Hover {
    animation: icon3 .5s ease 1.0s forwards;
}
.i4Hover {
    animation: icon4 .5s ease 1.1s forwards;
}

.line1Hover {
    animation: line .5s ease .45s forwards;
}

.line2Hover {
    animation: line .5s ease .45s forwards;
}

@keyframes icon1 {
    0% {
        top: -25px;
   }
    100% {
        top: 30px;
   }
}
@keyframes icon2 {
    0% {
        left: -20px;
   }
    100% {
        left: 35px;
   }
}
@keyframes icon3 {
    0% {
        bottom: -25px;
   }
    100% {
        bottom: 30px;
   }
}
@keyframes icon4 {
    0% {
        right: -25px;
   }
    100% {
        right: 30px;
   }
}
@keyframes line {
    0% {
        left: 60px;
        width: 0;
   }
    100% {
        left: 10px;
        width: 130px;
   }
}
/* end circle */
/* begin menu */
ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background:none;
    color:#FFF;
    display: inline-block;
    padding:0 0 0 0;
}
@media screen and (max-width:768px) {
    ul.topnav {
        list-style-type: none;
        overflow: hidden;
        background:none;
        color:#FFF;
        display: inline-block;
        width:100%;
        padding:0 0 0 0;
   }
}
ul.topnav li {
    margin-right:5px;
    border: solid 1px #FFF;
    float: left;
}
ul.topnav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color:#FFF;
}
ul.topnav li a:hover {
   background:rgba(255,255,255,0.2);
}
ul.topnav li.icon {
   display: none;
}
@media screen and (max-width:768px) {
    ul.topnav li:not(:first-child) {
       display: none;
   }
    ul.topnav li.icon {
        display: block;
        text-align: center;
        border: solid 1px #FFF;
        width: 100%;
   }
}
@media screen and (max-width:768px) {
    ul.topnav.responsive {
        position: relative;
        width: 100%;
   }
    ul.topnav.responsive li.icon {
        display: block;
        text-align: center;
        border: solid 1px #FFF;
        width: 100%;
   }
    ul.topnav.responsive li {
        float: none;
        display: inline;
        margin-right:0;
        border:none;
   }
    ul.topnav.responsive li a {
        display: block;
        text-align: center;
        border: solid 1px #FFF;
   }
}
/* menu */
.logoimg {
    height:150px;
    width:150px;
    margin: 10px 10px 10px 10px ;
}
.logoimg:hover {
    border: solid 5px #fff;
}
.alphalogo {
    z-index: 1;
    margin-top: -200px;
    font-family: 'Star Jedi', arial;
    color:white;
    font-size:4em;
    text-decoration:none;
    outline: none;
    display:block;
    margin-bottom:50px;
}
.alphalogo:hover {
    color:#FF5454;
    font-size:4em;
    text-decoration:none;
    outline: none;
    display:block;
    cursor: pointer;
}
@media screen and (max-width:680px) {
    .alphalogo {
        font-size: 3em;
        text-decoration: none;
        margin-top: -600px;
   }
    .alphalogo:hover {
        color:#FF5454;
        font-size:3em;
        text-decoration:none;
        outline: none;
        display:block;
        cursor: pointer;
   }
}
.header{
    padding: 2% 0;
    text-align: center;
}
.h_menu{
    padding: 0;
}
@media screen and (max-width:680px) {
    .h_menu {
        padding:2%;
   }
}
/* main */
.main{
    padding: 2.5% 0;
}
#icc {
    font-size:30px;
}
.row {
    margin-left:1%;
    margin-right:1%;
}
/* footer */
.copy {
    margin-bottom: 0px;
}
.copy p{
    padding-top:10px;
    padding-left:20%;
    padding-right:20%;
    color:#FFF;
    font-size: 20px;
    line-height: 1.8em;
}
@media screen and (max-width:680px) {
    .copy p{
        padding-top:0px;
        padding-left:20%;
        padding-right:20%;
        color:#FFF;
        font-size: 20px;
        line-height: 1.8em;
   }
}
.copy p a{
    color:#FFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.copy p a:hover{
    color: #FF5454;
    text-decoration: none;
}
.footer{
    font-family: 'Star Jedi', arial;
    width:100%;
    margin-top: -40px;
}
.WhiteLine{
    background: #fff;
    margin: 0 auto;
    width: 70%;
    height: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.col-md-12 ,.col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}
.homeCenter {
    height: 350px;
    -webkit-animation: scaled 1s ease;
    animation: scaled 2s ease;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    z-index: 99;
    top: -400px;
    left: 93px;
    position: relative;
}
.centerStars{
    width: 100%;
    height: 100px;
}

.wrap {
    z-index: 1;
    height:250px;
    width:250px;
    padding: 50px 50px 50px 50px;
    display: inline-block;
    margin-top: 180px;
}
@media screen and (max-width:768px) {
    .imgsvg {
        display: none;
   }
}
@media screen and (max-width:768px) {
    .wrap {
        margin-left: 0;
        position: static;
        z-index: 1;
        height:250px;
        width:250px;
        padding: 50px 50px 50px 50px;
        display: inline-block;
        margin-top: 180px;
   }
}
.imgsvg {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.tiny-stars {
    position: absolute;
    -moz-animation: infinite-spinning 40s infinite linear;
    -o-animation: infinite-spinning 40s infinite linear;
    -webkit-animation: infinite-spinning 40s infinite linear;
}
.middle-stars {
    animation: infinite-spinning 30s infinite linear;
    -moz-animation: infinite-spinning 30s infinite linear;
    -o-animation: infinite-spinning 30s infinite linear;
    -webkit-animation: infinite-spinning 30s infinite linear 
}
.tiny-stars {
    -webkit-animation: infinite-spinning 40s infinite linear;
    -moz-animation: infinite-spinning 40s infinite linear;
    -o-animation: infinite-spinning 40s infinite linear;
    animation: infinite-spinning 40s infinite linear 
}
@-webkit-keyframes infinite-spinning {
    from {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
    to {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
}
@-moz-keyframes infinite-spinning {
    from {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
    to {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
}
@-o-keyframes infinite-spinning {
    from {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
    to {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
}
@keyframes infinite-spinning {
    from {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
    to {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
}
@-webkit-keyframes infinite-spinning-alt {
    from {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
    to {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
}
@-moz-keyframes infinite-spinning-alt {
    from {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
    to {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
}
@-o-keyframes infinite-spinning-alt {
    from {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
    to {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
}
@keyframes infinite-spinning-alt {
    from {
        moz-transform: rotate(360deg);
        ms-transform: rotate(360deg);
        transform: rotate(360deg);
        webkit-transform: rotate(360deg) 
   }
    to {
        moz-transform: rotate(0);
        ms-transform: rotate(0);
        transform: rotate(0);
        webkit-transform: rotate(0) 
   }
}
