<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.barrouh" />

	<bean id="settings" class="com.barrouh.domain.Settings">
		<property name="mailHost" value="smtp.gmail.com" />
		<property name="mailPort" value="465" />
		<property name="mailTo" value="mohamed.barrouh@gmail.com" />
		<property name="mailFromUser" value="smtp.barrouh" />
		<property name="mailFromUserPassword" value="test" />
		<property name="dataPath" value="data/" />
		<property name="emailTemplatePath" value="email/" />
	</bean>

	<bean id="personDao" class="com.barrouh.dao.PersonDao">
		<constructor-arg>
			<ref bean="settings" />
		</constructor-arg>
	</bean>

	<bean id="skillDao" class="com.barrouh.dao.SkillDao">
		<constructor-arg>
			<ref bean="settings" />
		</constructor-arg>
	</bean>

	<bean id="storyDao" class="com.barrouh.dao.StoryDao">
		<constructor-arg>
			<ref bean="settings" />
		</constructor-arg>
	</bean>

	<bean id="personeService" class="com.barrouh.service.PersoneService">
		<property name="personDao" ref="personDao" />
		<property name="skillDao" ref="skillDao" />
		<property name="storyDao" ref="storyDao" />
	</bean>

	<bean id="mailService" class="com.barrouh.service.MailService">
		<constructor-arg>
			<ref bean="settings" />
		</constructor-arg>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />

</beans>